@font-face {
  font-family: 'CenturySchoolbook';
  src: url("../fonts/CenturySchoolbook-Italic.eot");
  src: url("../fonts/CenturySchoolbook-Italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturySchoolbook-Italic.woff") format("woff");
  src: url("../fonts/CenturySchoolbook-Italic.ttf") format("truetype");
  src: url("../fonts/CenturySchoolbook-Italic.svg#CenturySchoolbook-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Light.eot");
  src: url("../fonts/Calibri-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Calibri-Light.woff") format("woff");
  src: url("../fonts/Calibri-Light.ttf") format("truetype");
  src: url("../fonts/Calibri-Light.svg#Calibri-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Heavy.eot");
  src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg#Lato-Heavy") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Thin.eot");
  src: url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype"), url("../fonts/Lato-Thin.svg#Lato-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-ThinItalic.eot");
  src: url("../fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato-ThinItalic.ttf") format("truetype"), url("../fonts/Lato-ThinItalic.svg#Lato-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

body {
  color: #fff; }

header {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%) 0 50px, url("../img/header_bg.jpg") no-repeat center 50px;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%) 0 50px, url("../img/header_bg.jpg") no-repeat center 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%) 0 50px, url("../img/header_bg.jpg") no-repeat center 50px;
  background-size: cover; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

nav {
  background: #a08f80;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #fff; }
  nav .nav-wrapper {
    position: relative; }
  nav .logo {
    padding: 2px 0 0 10px; }
  nav .menu {
    padding-right: 0; }
    nav .menu li a {
      padding-bottom: 18px;
      color: #fff; }
      nav .menu li a:hover {
        background-color: #ff8824; }
    nav .menu li:nth-child(2) a {
      padding-top: 5px;
      padding-bottom: 8px; }

.burger {
  position: absolute;
  background: #79695b;
  top: 0;
  right: 0; }
  .burger span {
    background: #a08f80; }

.phone-number {
  margin-top: 16px; }

.head-wrapper {
  text-align: center;
  padding: 50px 0 140px;
  color: #fff; }
  .head-wrapper h1 {
    font-family: 'CenturySchoolbook', serif;
    font-style: italic;
    font-size: 28px;
    line-height: 38px;
    margin: 92px 0 -20px; }
  .head-wrapper span {
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 58px; }
  .head-wrapper .calculate-coast {
    display: block;
    color: #fff;
    background: #ff8824;
    width: 200px;
    margin: 20px auto 0;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400; }
    .head-wrapper .calculate-coast:hover {
      background: #d76200;
      text-decoration: none; }

.icons {
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 43px;
  font-weight: 400; }
  .icons p {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 400; }
    .icons p:hover {
      color: #d76200;
      text-decoration: none; }

.opacity-block {
  background: rgba(0, 0, 0, 0.7);
  padding: 28px 0; }

h2 {
  font-size: 24px;
  font-weight: 400; }

.instalation-block {
  background: #a08f80;
  font-family: 'Lato'; }
  .instalation-block ul {
    font-size: 20px;
    padding-left: 60px; }
    .instalation-block ul h3 {
      margin-left: -17px;
      font-weight: 400; }
    .instalation-block ul li {
      font-weight: 300; }
  .instalation-block .footnote {
    padding-left: 20px;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 100;
    font-style: italic; }
  .instalation-block .submit-app {
    padding: 20px 0 70px; }
    .instalation-block .submit-app input {
      border: none;
      font-family: 'Lato';
      font-size: 20px;
      font-weight: 300;
      outline: none; }
    .instalation-block .submit-app input[type="text"] {
      width: 100%;
      padding: 6px 15px;
      background: #c1b6ac; }
      .instalation-block .submit-app input[type="text"]:focus {
        background: #fff;
        color: #79695b; }
    .instalation-block .submit-app input::-webkit-input-placeholder {
      color: white; }
    .instalation-block .submit-app input:-moz-placeholder {
      color: white; }
    .instalation-block .submit-app input::-moz-placeholder {
      color: white; }
    .instalation-block .submit-app input:-ms-input-placeholder {
      color: white; }
    .instalation-block .submit-app input[type="submit"] {
      font-weight: 400;
      color: white;
      background: #ff8824;
      padding: 6px 15px;
      border: none; }
      .instalation-block .submit-app input[type="submit"]:hover {
        background: #d76200; }

.multiroom-block {
  background: url("../img/bg_multiroom.jpg") no-repeat center;
  background-size: cover;
  padding: 90px 0 140px; }
  .multiroom-block h2 {
    margin-bottom: 60px; }
  .multiroom-block a:first-of-type img {
    margin-top: 6px; }
  .multiroom-block a:last-of-type img {
    margin-top: 11px;
    margin-bottom: 25px; }
  .multiroom-block a img {
    margin-bottom: 20px; }

@media screen and (min-width: 768px) {
  nav .menu li a {
    padding-left: 10px;
    padding-right: 10px; }
  .head-wrapper h1 {
    font-size: 40px;
    line-height: 60px; }
  .head-wrapper span {
    font-size: 25px; }
  .head-wrapper .calculate-coast {
    font-size: 24px;
    width: 358px;
    padding: 11px 0; } }

@media screen and (min-width: 992px) {
  nav .menu li a {
    padding-left: 17px;
    padding-right: 17px; } }

@media screen and (min-width: 1200px) {
  nav .menu li a {
    padding-left: 25px;
    padding-right: 25px; } }

/*# sourceMappingURL=style.css.map */