@font-face{
	font-family: 'CenturySchoolbook';
	src: url('../fonts/CenturySchoolbook-Italic.eot');
	src: url('../fonts/CenturySchoolbook-Italic.eot?#iefix') format('embedded-opentype');
	src: url('../fonts/CenturySchoolbook-Italic.woff') format('woff');
	src: url('../fonts/CenturySchoolbook-Italic.ttf') format('truetype');
	src: url('../fonts/CenturySchoolbook-Italic.svg#CenturySchoolbook-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family: 'Calibri';
	src: url('../fonts/Calibri-Light.eot');
	src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype');
	src: url('../fonts/Calibri-Light.woff') format('woff');
	src: url('../fonts/Calibri-Light.ttf') format('truetype');
	src: url('../fonts/Calibri-Light.svg#Calibri-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}


$main-color:#a08f80;
$accent-color:#ff8824;

header{
	background: -webkit-linear-gradient(rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 100%) 0 50px,
	url('../img/header_bg.jpg') no-repeat center 50px;
	background: -o-linear-gradient(rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 100%) 0 50px,
	url('../img/header_bg.jpg') no-repeat center 50px;
	background: linear-gradient(rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 100%) 0 50px,
	url('../img/header_bg.jpg') no-repeat center 50px;
	background-size: cover;
}
a{
	color:inherit;
	&:hover{
		text-decoration: none;
	}
}
nav{
	background: $main-color;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	.nav-wrapper{
		position: relative;
	}
		.logo{
			padding: 2px 0 0 10px;
		}
	.menu{
		padding-right: 0;
		li{
			a{
				padding-bottom: 18px;
				color:#fff;
				&:hover{
					background-color: $accent-color;
				}
				}
			}
		li:nth-child(2) a{
			padding-top: 5px;
			padding-bottom: 8px;
		}
	}

}
.burger{
	position:absolute;
	background:darken($main-color, 15%);
	top: 0;
	right: 0;
	span{
		background: $main-color;
	}
}
.phone-number{
	margin-top: 16px;
}
.head-wrapper{
	text-align: center;
	padding: 50px 0 140px;
	color:#fff;
	h1{
		font-family: 'CenturySchoolbook', serif;
		font-style: italic;
		font-size: 28px;
		line-height: 38px;
		margin: 92px 0 -20px;
	}
	span{
		font-family: 'Calibri', sans-serif;
		font-size: 17px;
		font-weight: 400;
		line-height: 58px;
	}
	.calculate-coast{
		display: block;
		color: #fff;
		background: $accent-color;
		width: 200px;
		margin: 20px auto 0;
		padding: 10px 0;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 400;
		&:hover{
			background: darken($accent-color, 15%);
			text-decoration: none;
		}
	}
}
.opacity-block{
	background: rgba(0,0,0,.7);
	padding: 28px 0;
	a{
		text-align: center;
		color: white;
		font-family: Roboto;
		font-size: 43px;
		font-weight: 400;
		p{
			color: white;
			font-family: 'Roboto',sans-serif;
			font-size: 20px;
			font-weight: 400;
			&:hover{
				color:darken($accent-color, 15%);
				text-decoration: none;
			}
		}
	}
}

@media screen and (min-width: 768px){
	nav{
		.menu{
			li{
				a{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	.head-wrapper{
		h1{
			font-size: 40px;
			line-height: 60px;
		}
		span{
			font-size: 25px;
		}
		.calculate-coast{
			font-size: 24px;
			width: 358px;
			padding: 11px 0;
		}
	}
}
@media screen and (min-width: 992px) {
	nav{
		.menu{
			li{
				a{
					padding-left: 17px;
					padding-right: 17px;
				}
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	nav{
		.menu{
			li{
				a{
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}
}
